NET  "LEDS[0]"  			LOC = "E27"  	| IOSTANDARD = LVCMOS25 | DRIVE=16;  # ok 
NET  "LEDS[1]"  			LOC = "E26"  	| IOSTANDARD = LVCMOS25 | DRIVE=16;  # ok 
NET  "LEDS[2]"  			LOC = "D26"  	| IOSTANDARD = LVCMOS25 | DRIVE=16;  # ok 
NET  "LEDS[3]"  			LOC = "D25"  	| IOSTANDARD = LVCMOS25 | DRIVE=16;  # ok 
NET  "LEDS[4]"  			LOC = "C24"  	| IOSTANDARD = LVCMOS25 | DRIVE=16;  # ok 
NET  "LEDS[5]"  			LOC = "C25"  	| IOSTANDARD = LVCMOS25 | DRIVE=16;  # ok 
NET  "LEDS[6]"  			LOC = "C27"  	| IOSTANDARD = LVCMOS25 | DRIVE=16;  # ok 
NET  "LEDS[7]"  			LOC = "C28"  	| IOSTANDARD = LVCMOS25 | DRIVE=16;  # ok 
NET  "LEDS[8]"  			LOC = "D29"  	| IOSTANDARD = LVCMOS25 | DRIVE=16;  # ok 
NET  "LEDS[9]"  			LOC = "C29"  	| IOSTANDARD = LVCMOS25 | DRIVE=16;  # ok 
NET  "LEDS[10]"  			LOC = "D30"  	| IOSTANDARD = LVCMOS25 | DRIVE=16;  # ok 
NET  "LEDS[11]"  			LOC = "C30"  	| IOSTANDARD = LVCMOS25 | DRIVE=16;  # ok 

NET  "PB[0]"  				LOC = "E18"  	| IOSTANDARD = LVCMOS25; # ok
NET  "PB[1]"  				LOC = "F18"  	| IOSTANDARD = LVCMOS25; # ok
NET  "PB[2]"  				LOC = "E17"  	| IOSTANDARD = LVCMOS25; # ok
NET  "PB[3]"  				LOC = "D17"  	| IOSTANDARD = LVCMOS25; # ok

NET  "qpll_clk40MHz_p"  	LOC = "H28"  	| IOSTANDARD = LVDS_25 		| DIFF_TERM = TRUE; # ok
NET  "qpll_clk40MHz_n"  	LOC = "H29"  	| IOSTANDARD = LVDS_25 		| DIFF_TERM = TRUE; # ok
