.person{
    margin: 8px;
    padding: 8px;
    border: 1px dotted gray;
}

.personpic{
    width: 128px;
    float: left;
    padding-right: 15px;
}

.clearhack{
    clear: both;
}

.personLeft{
    margin: 2px;
    padding: 2px;
    float: left;
}

.personRight{
    margin: 2px;
    padding: 2px;
    float: left;
}